{% extends 'base.html' %}

{% block title %}My Budget{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">My Budget</h1>
    <div class="section-container">
        <h2 class="section-title">Expenses</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Account</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.account }}</td>
                    <td>
                        <a href="{{ url_for('edit_expense', id=expense.id) }}">Edit</a>
                        <a href="{{ url_for('delete_expense', id=expense.id) }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="add-btn" href="{{ url_for('add_expense') }}">Add Expense</a>
    </div>
        <div class="section-container">
        <h2 class="section-title">Incomes</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Account</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for income in incomes %}
                <tr>
                    <td>{{ income.name }}</td>
                    <td>{{ income.amount }}</td>
                    <td>{{ income.category }}</td>
                    <td>{{ income.date }}</td>
                    <td>{{ income.account }}</td>
                    <td>
                        <a href="{{ url_for('edit_income', id=income.id) }}">Edit</a>
                        <a href="{{ url_for('delete_income', id=income.id) }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="add-btn" href="{{ url_for('add_income') }}">Add Income</a>
    </div>
</div>
{% endblock %}

